.products {
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px 20px 20px 20px;
  margin: 20px;
  background-color: white;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.product-rating {
  display: flex;
}

.product-image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.cartButton {
  height: 3vh;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  cursor: pointer;
  position: relative;
}

.button-layout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-text {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-top: 1rem;
  user-select: none;
}
