.header {
  display: flex;
  align-items: center;
  position: sticky;
  height: 10vh;
  width: 100%;
  background-color: #131921;
  top: 0;
  z-index: 9999;
}
.header_logo {
  object-fit: contain;
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 18px;
}

.header_searchInput {
  height: 2.3rem;
  width: 100%;
  border: none;

}

.search-button {
  background-color: #cd9042;
  border: 0;
  height: 2.47rem;
  width: 2.5rem;
  cursor: pointer;
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

.header_search {
  border-radius: 0.1rem;
  display: flex;
  flex: 1;
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
}

.header_link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.lineone {
  font-size: 10px;
}

.linetwo {
  font-size: 1rem;
  font-weight: 1000;
}

.header_optionBasket {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 7px;
  align-items: center;
}

.gap {
  margin-right: 1rem;
}

.all-dropdown {
  display: flex;
  align-items: center;
  background-color: #d7d7d7;
  height: 2.47rem;
  justify-content: center;
  width: 3rem;
  display: flex;
  flex-grow: relative;
}

.all-span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
    border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

.all-list{
  position: absolute;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  margin-top: 1.4rem;
  margin-right: 50rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  color: black;
  display: flex;
  gap: 1rem;
  z-index: 50;
  list-style-type: none;
}